[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
request = "*"
gunicorn = "*"
django-heroku = "*"
django-paypal = "*"
paypalrestsdk = "*"

[dev-packages]

[requires]
python_version = "3.6"
