{% extends "unlock/layout.html" %}

{% block title %}Home{% endblock %}
{% load static %}

{% block body %}


    <main id="main">

<section id="about" class="section-bg">
    <div class="container-fluid">
        <div class="class-hearder" style="text-align: center;">
            <h3 class="section-title"> How to Unlock </h3>
            <span class="section-divider"></span>
            <p class="section-description">
                    Tell the user how to unlock our phone iste natus error sit voluptatem accusantium doloremque<br>
                    sunt in culpa qui officia deserunt mollit anim id est laborum
                  </p>
                </div>

                <div class="row">
                  <div class="col-lg-6 content wow fadeInRight">
                        <!--put content here-->
                      <form action="payment.html" id="conf" method="post">
                        <div class="form-group">
                         <select class="form-control" id="exampleFormControlSelect1" name="phone_name">
                          <option selected value="">Select your phone..</option>
                           {% for item in phones %}
                          <option value= {{ item.id }} >{{ item.name }}</option>
                           {% endfor %}
                         </select>
                          <small id="emailHelp" class="form-text text-muted"> Example Samsung </small>
                        </div>
                        <div class="form-group">
                          <select class="form-control" name="phone_model">
                          <option selected value="0">Select models...</option>
                          <option value="At&t">....</option>
                          <option value="Cricket">...</option>
                          <small id="emailHelp" class="form-text text-muted"> Example ZMAX Pro </small>
                        </select>
                        </div>
                        <div class="form-group">
                          <label for="ExampleFormControlSelect1">Select carriers</label>
                          <select class="form-control" id="exampleFormControlSelect1" name="phone_carrier">
                            <option value="At&T">AT&T</option>
                            <option value="Cricket">Cricket</option>
                            <option value="Tmobile">T-mobile</option>
                            <option value=".....">.....</option>
                          </select>
                        </div>
                        <div class="form-group">
                          <label for="exampleInputEmail1"> Emei </label>
                          <input type="number" id="imei" name="phone_imei" autocomplete="off" class="form-control" placeholder="IMEI"/>
                          <small id="emailHelp" class="form-text text-muted"> 15 digit 109283732902318 </small>
                        </div>
                        <button class="btn btn-primary" value="submit"> Submit </button>
                      </form>
                  </div>

                  <div class="col-lg-6 content wow fadeInLeft">
                    <h2>Lorem ipsum dolor sit amet, consectetur adipiscing elite storium paralate</h2>
                    <h3>Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</h3>
                    <p>
                      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua ullamco laboris nisi ut aliquip ex ea commodo consequat.
                    </p>

                    <ul>
                      <li><i class="ion-android-checkmark-circle"></i> Ullamco laboris nisi ut aliquip ex ea commodo consequat.</li>
                      <li><i class="ion-android-checkmark-circle"></i> Duis aute irure dolor in reprehenderit in voluptate velit.</li>
                      <li><i class="ion-android-checkmark-circle"></i> Ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate trideta storacalaperda mastiro dolore eu fugiat nulla pariatur.</li>
                    </ul>

                       <p>
                          Ullamco laboris nisi ut aliquip ex ea commodo consequat.
                           Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum Libero justo laoreet sit amet cursus sit amet dictum sit. Commodo sed egestas egestas fringilla phasellus faucibus scelerisque eleifend donec
                       </p>
                   </div>
                 </div>
            </div>
     </section>
    </main>


    <!--==========================
     payment we can resevoir
   ============================-->
      <!--==========================
     Clients
   ============================-->
   <section id="clients">
     <div class="container">

       <div class="row wow fadeInUp">

         <div class="col-md-2">
           <a href="https://www.zte.com" > <img src="{% static 'img/clients/zte.png' %}" alt=""> </a>
         </div>

         <div class="col-md-2">
           <a href="https://www.samsung.com" > <img src="{% static 'img/clients/samsung.png' %}" alt=""> </a>
         </div>

         <div class="col-md-2">
           <a href="#" > <img src="{% static 'img/clients/lg.png' %}" alt=""></a>
         </div>

         <div class="col-md-2">
           <img src="{% static 'img/clients/htc.png' %}" alt="">
         </div>

         <div class="col-md-2">
           <img src="{% static 'img/clients/alcatel.jpg' %}" alt="">
         </div>

         <div class="col-md-2">
           <a href="https://www.apple.com" > <img src="{% static 'img/clients/apple.png' %}" alt="apple.png"> </a>
         </div>

         <div class="col-md-2">
         <a href="https://www.metropcs.com/"> <img src="{% static 'img/clients/MetroPCS.jpg' %}"  alt=""></a>
         </div>

         <div class="col-md-2">
           <a href="https://verizon.com/"> <img src="{% static 'img/clients/vzw.jpg' %}" alt=""> </a>
         </div>

         <div class="col-md-2">
           <a href="https://www.t-mobile.com" ><img src="{% static 'img/clients/tmobile.gif' %}" alt=""> </a>
         </div>

         <div class="col-md-2">
           <a href="https://www.cricketwireless.com/"> <img src="{% static 'img/clients/cricket.jpg' %}" alt=""> </a>
         </div>

         <div class="col-md-2">
           <a href="https://www.att.com" ><img src="{% static 'img/clients/att.gif' %}" alt=""> </a>
         </div>

         <div class="col-md-2">
           <a href="https://www.sprint.com"> <img src="{% static 'img/clients/sprint.png' %}" alt=""> </a>
         </div>

       </div>

       </div>
   </section><!-- #more-features -->



   <!--==========================
     Frequently Asked Questions Section
   ============================-->
   <section id="faq">
     <div class="container">

       <div class="section-header">
         <h3 class="section-title">Frequently Asked Questions</h3>
         <span class="section-divider"></span>
         <p class="section-description">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque</p>
       </div>

       <ul id="faq-list" class="wow fadeInUp">
         <li>
           <a data-toggle="collapse" class="collapsed" href="#faq1">Non consectetur a erat nam at lectus urna duis? <i class="ion-android-remove"></i></a>
           <div id="faq1" class="collapse" data-parent="#faq-list">
             <p>
               Feugiat pretium nibh ipsum consequat. Tempus iaculis urna id volutpat lacus laoreet non curabitur gravida. Venenatis lectus magna fringilla urna porttitor rhoncus dolor purus non.
             </p>
           </div>
         </li>

         <li>
           <a data-toggle="collapse" href="#faq2" class="collapsed">Feugiat scelerisque varius morbi enim nunc faucibus a pellentesque? <i class="ion-android-remove"></i></a>
           <div id="faq2" class="collapse" data-parent="#faq-list">
             <p>
               Dolor sit amet consectetur adipiscing elit pellentesque habitant morbi. Id interdum velit laoreet id donec ultrices. Fringilla phasellus faucibus scelerisque eleifend donec pretium. Est pellentesque elit ullamcorper dignissim. Mauris ultrices eros in cursus turpis massa tincidunt dui.
             </p>
           </div>
         </li>

         <li>
           <a data-toggle="collapse" href="#faq3" class="collapsed">Dolor sit amet consectetur adipiscing elit pellentesque habitant morbi? <i class="ion-android-remove"></i></a>
           <div id="faq3" class="collapse" data-parent="#faq-list">
             <p>
               Eleifend mi in nulla posuere sollicitudin aliquam ultrices sagittis orci. Faucibus pulvinar elementum integer enim. Sem nulla pharetra diam sit amet nisl suscipit. Rutrum tellus pellentesque eu tincidunt. Lectus urna duis convallis convallis tellus. Urna molestie at elementum eu facilisis sed odio morbi quis
             </p>
           </div>
         </li>

         <li>
           <a data-toggle="collapse" href="#faq4" class="collapsed">Ac odio tempor orci dapibus. Aliquam eleifend mi in nulla? <i class="ion-android-remove"></i></a>
           <div id="faq4" class="collapse" data-parent="#faq-list">
             <p>
               Dolor sit amet consectetur adipiscing elit pellentesque habitant morbi. Id interdum velit laoreet id donec ultrices. Fringilla phasellus faucibus scelerisque eleifend donec pretium. Est pellentesque elit ullamcorper dignissim. Mauris ultrices eros in cursus turpis massa tincidunt dui.
             </p>
           </div>
         </li>

         <li>
           <a data-toggle="collapse" href="#faq5" class="collapsed">Tempus quam pellentesque nec nam aliquam sem et tortor consequat? <i class="ion-android-remove"></i></a>
           <div id="faq5" class="collapse" data-parent="#faq-list">
             <p>
               Molestie a iaculis at erat pellentesque adipiscing commodo. Dignissim suspendisse in est ante in. Nunc vel risus commodo viverra maecenas accumsan. Sit amet nisl suscipit adipiscing bibendum est. Purus gravida quis blandit turpis cursus in
             </p>
           </div>
         </li>

         <li>
           <a data-toggle="collapse" href="#faq6" class="collapsed">Tortor vitae purus faucibus ornare. Varius vel pharetra vel turpis nunc eget lorem dolor? <i class="ion-android-remove"></i></a>
           <div id="faq6" class="collapse" data-parent="#faq-list">
             <p>
               Laoreet sit amet cursus sit amet dictum sit amet justo. Mauris vitae ultricies leo integer malesuada nunc vel. Tincidunt eget nullam non nisi est sit amet. Turpis nunc eget lorem dolor sed. Ut venenatis tellus in metus vulputate eu scelerisque. Pellentesque diam volutpat commodo sed egestas egestas fringilla phasellus faucibus. Nibh tellus molestie nunc non blandit massa enim nec.
             </p>
           </div>
         </li>

       </ul>

     </div>
   </section><!-- #faq -->



   <!--==========================
     Call To Action Section
   ============================-->
   <section id="call-to-action">
     <div class="container">
       <div class="row">
         <div class="col-lg-9 text-center text-lg-left">
           <h3 class="cta-title">Call To Action</h3>
           <p class="cta-text"> Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
         </div>
         <div class="col-lg-3 cta-btn-container text-center">
           <a class="cta-btn align-middle" href="#">Call To Action</a>
         </div>
       </div>

     </div>
   </section><!-- #call-to-action -->


     <!--==========================
     Gallery Section
   ============================-->
   <section id="gallery">
     <div class="container-fluid">
       <div class="section-header">
         <h3 class="section-title">Tutorials</h3>
         <span class="section-divider"></span>
         <p class="section-description">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque</p>
       </div>

       <div class="row no-gutters">

         <div class="col-lg-4 col-md-6">
           <div class="gallery-item wow fadeInUp">
             <a href="img/gallery/gallery-1.jpg" class="gallery-popup">
               <img src="{% static 'img/gallery/gallery-1.jpg' %}" alt="">
             </a>
           </div>
         </div>

         <div class="col-lg-4 col-md-6">
           <div class="gallery-item wow fadeInUp">
             <a href="https://youtu.be/XZ-MtJ1r9i8" class="gallery-popup">
               <iframe width="560" height="380" src="https://www.youtube.com/embed/XZ-MtJ1r9i8"
               frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
             </a>
           </div>
         </div>

         <div class="col-lg-4 col-md-6">
           <div class="gallery-item wow fadeInUp">
             <a href="img/gallery/gallery-3.jpg" class="gallery-popup">
               <img src="{% static 'img/gallery/gallery-3.jpg' %}" alt="">
             </a>
           </div>
         </div>

         <div class="col-lg-4 col-md-6">
           <div class="gallery-item wow fadeInUp">
             <a href="img/gallery/gallery-4.jpg" class="gallery-popup">
               <img src="{% static 'img/gallery/gallery-4.jpg' %}" alt="">
             </a>
           </div>
         </div>

         <div class="col-lg-4 col-md-6">
           <div class="gallery-item wow fadeInUp">
             <a href="img/gallery/gallery-5.jpg" class="gallery-popup">
               <img src="{% static 'img/gallery/gallery-5.jpg' %}" alt="">
             </a>
           </div>
         </div>

         <div class="col-lg-4 col-md-6">
           <div class="gallery-item wow fadeInUp">
             <a href="img/gallery/gallery-6.jpg" class="gallery-popup">
               <img src="{% static 'img/gallery/gallery-6.jpg' %}" alt="">
             </a>
           </div>
         </div>

       </div>

     </div>
   </section><!-- #gallery -->



    <!--==========================
     Contact Section
   ============================-->
   <section id="contact">
     <div class="container">
       <div class="row wow fadeInUp">

         <div class="col-lg-4 col-md-4">
           <div class="contact-about">
             <h3>Sajes Unlock</h3>
             <p>Cras fermentum odio eu feugiat. Justo eget magna fermentum iaculis eu non diam phasellus. Scelerisque felis imperdiet proin fermentum leo. Amet volutpat consequat mauris nunc congue.</p>
             <div class="social-links">
               <a href="https://www.twitter.com/sajesunlock" class="twitter"><i class="fa fa-twitter"></i></a>
               <a href="https://web.facebook.com/sajesunlock" class="facebook"><i class="fa fa-facebook"></i></a>
               <a href="https://www.instagram.com/sajesunlock" class="instagram"><i class="fa fa-instagram"></i></a>
               <a href="#" class="google-plus"><i class="fa fa-google-plus"></i></a>
               <a href="#" class="linkedin"><i class="fa fa-linkedin"></i></a>
             </div>
           </div>
         </div>

         <div class="col-lg-3 col-md-4">
           <div class="info">
             <div>
               <i class="ion-ios-location-outline"></i>
               <p>fort-national<br>port-au-prince, # 43</p>
             </div>

             <div>
               <i class="ion-ios-email-outline"></i>
               <p>sajesunlock@gmail.com</p>
             </div>

             <div>
               <i class="ion-ios-telephone-outline"></i>
               <p>+509 36685393</p>
             </div>

           </div>
         </div>
         <div class="col-lg-5 col-md-8">
           <div class="form">
             <div id="sendmessage">Your message has been sent. Thank you!</div>
             <div id="errormessage"></div>
             <form action="" method="post" role="form" class="contactForm">
               <div class="form-row">
                 <div class="form-group col-lg-6">
                   <input type="text" name="name" class="form-control" id="name" placeholder="Your Name" data-rule="minlen:4" data-msg="Please enter at least 4 chars" />
                   <div class="validation"></div>
                 </div>
                 <div class="form-group col-lg-6">
                   <input type="email" class="form-control" name="email" id="email" placeholder="Your Email" data-rule="email" data-msg="Please enter a valid email" />
                   <div class="validation"></div>
                 </div>
               </div>
               <div class="form-group">
                 <input type="text" class="form-control" name="subject" id="subject" placeholder="Subject" data-rule="minlen:4" data-msg="Please enter at least 8 chars of subject" />
                 <div class="validation"></div>
               </div>
               <div class="form-group">
                 <textarea class="form-control" name="message" rows="5" data-rule="required" data-msg="Please write something for us" placeholder="Message"></textarea>
                 <div class="validation"></div>
               </div>
               <div class="text-center"><button type="submit" title="Send Message">Send Message</button></div>
             </form>
           </div>
         </div>

       </div>

     </div>
   </section><!-- #contact -->

   </main>



{% endblock %}
